services:
  # Base de datos PostgreSQL
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: local
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U root'] # Cambié 'usuario' por 'root' que es el usuario configurado
      interval: 10s
      timeout: 5s
      retries: 5

  # Aplicación SvelteKit
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - '3000:3000'
    env_file: '.env'
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
